<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 关联Mapper接口全类名（生成时自动填充） -->
<mapper namespace="org.shiroko.ai.mapper.ProblemRecordMapper">

    <!-- 通用查询字段片段：替换为表的实际字段，避免重复编写 -->
    <sql id="queryFields">
        id, problem_record_content, user_id, ai_response, create_time, update_time
        <!-- 提示：根据表结构删除/添加字段，如：
            id, name, phone, email, status, create_by, create_time, update_by, update_time
        -->
    </sql>

     <insert id="addProblemRecord" parameterType="org.shiroko.ai.entity.dto.addProblemRecordReqDTO.AddProblemRecordReqDTO">
        insert into ai_problem_record (problem_record_content, user_id, ai_response)
        values (#{fields.problemRecordContent}, #{fields.userId}, #{fields.botReply})
    </insert>

</mapper>